/* inter-200 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/inter-v13-latin-200.woff2") format("woff2");
}
/* inter-300 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/inter-v13-latin-300.woff2") format("woff2");
}
/* inter-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v13-latin-regular.woff2") format("woff2");
}
/* inter-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-v13-latin-500.woff2") format("woff2");
}
/* inter-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v13-latin-600.woff2") format("woff2");
}
/* inter-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v13-latin-700.woff2") format("woff2");
}
/* open-sans-300 - latin */
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/open-sans-v40-latin-300.woff2") format("woff2");
}
/* open-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v40-latin-regular.woff2") format("woff2");
}
*:active, *:focus, *:focus-within, *:target, *:hover, *:visited, *:focus-visible {
  outline: none !important;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}

a {
  text-decoration: none;
  color: #110D0E;
}
a:hover {
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  position: relative;
  color: #110D0E;
}

ol, ul {
  list-style: none;
}

label, button {
  cursor: pointer;
}

.container {
  max-width: 1377px;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;
}

.header {
  background: #fff;
  padding: 24px 0 28px 0;
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 12px;
  margin-bottom: 23px;
  border-bottom: 1px solid #AFAFAF;
}
.header__phone {
  display: block;
  font-size: 25px;
  font-weight: 700;
}
.header__contacts {
  display: flex;
  align-items: center;
  gap: 25px;
}
.header__contacts-label {
  font-size: 14px;
}
.header__social {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__social-item_mobile {
  display: none;
}
.header__social-link {
  display: flex;
}
.header__social-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98px;
  height: 55px;
  border-radius: 6.53px;
  background: #D74535;
  border: none;
  padding: 0;
}
.header__social-burger {
  background: transparent;
  border: none;
  padding: 0;
}
.header__modal {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 26px;
  background: #D74535;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  border-radius: 10px;
  color: #fff;
}
.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__list-link {
  font-size: 16px;
  font-weight: 700;
}

@media (max-width: 990px) {
  .header {
    padding: 22px 0 18px 0;
  }
  .header__phone {
    font-size: 16.324px;
  }
  .header__contatcs {
    gap: 15px;
  }
  .header__contatcs-label {
    font-size: 9.141px;
  }
  .header__social {
    gap: 13px;
  }
  .header__social-link svg {
    width: 20px;
    height: 20px;
  }
  .header__social-link svg path {
    fill: #110D0E;
  }
  .header__modal {
    padding: 12px 17px;
    border-radius: 6.53px;
    font-size: 10.447px;
  }
  .header__top {
    padding-bottom: 7.84px;
    margin-bottom: 20px;
  }
  .header__list-link {
    font-size: 14px;
  }
}
@media (max-width: 606px) {
  .header__contacts-label {
    display: none;
  }
}
@media (max-width: 475px) {
  .header {
    padding: 17px 0 23px 0;
  }
  .header__nav {
    display: none;
  }
  .header__top {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }
  .header__phone {
    display: none;
  }
  .header__contacts {
    width: 100%;
  }
  .header__social {
    width: 100%;
    justify-content: space-between;
  }
  .header__social-link svg {
    width: 40px;
    height: 40px;
  }
  .header__social-item_mobile {
    display: initial;
  }
  .header__modal {
    display: none;
  }
}
.hero {
  padding: 100px 0 130px 0;
  position: relative;
  overflow-x: hidden;
}
.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, #FFF 100%);
}
.hero__wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.hero__wrapper-left {
  padding-top: 83px;
}
.hero__logo {
  position: relative;
  max-width: 433px;
  width: 100%;
  margin-bottom: 53px;
}
.hero__logo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 744px;
  position: relative;
  z-index: 1;
}
.hero__logo-filter {
  position: absolute;
  opacity: 0.25;
  background: #969696;
  filter: blur(50px);
  left: 50%;
  top: 50%;
  width: 744px;
  height: 203px;
  transform: translate(-50%, -50%);
}
.hero__tagline {
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 33px;
  max-width: 720px;
}
.hero__description {
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  max-width: 640px;
}
.hero__calc {
  border-radius: 25px;
  background: rgba(8, 8, 8, 0.2);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  padding: 40px 45px 28px 45px;
  width: 580px;
  box-sizing: border-box;
}
.hero__calc-title {
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 12px;
  color: #fff;
}
.hero__calc-label {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
  color: #fff;
}
.hero__calc-input {
  border-radius: 10px 10px 0px 0px;
  border: 1px solid #E1E7EF;
  background: rgba(255, 255, 255, 0.5);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  height: 78px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 27px;
  line-height: 78px;
}
.hero__calc-slider {
  border: none;
  box-shadow: none;
  height: 5px;
  margin-bottom: 14px;
}
.hero__calc-slider .noUi-handle {
  width: 23px;
  height: 23px;
  border: 7px solid #D74535;
  border-radius: 50%;
  background: #fff;
  top: -10px;
}
.hero__calc-slider .noUi-handle::after, .hero__calc-slider .noUi-handle::before {
  display: none;
}
.hero__calc-slider .noUi-connect {
  background: #D74535;
}
.hero__calc-linear {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
.hero__calc-linear span {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
}
.hero__calc-counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 22px;
}
.hero__calc-counter .label {
  display: flex;
  align-items: center;
  gap: 17px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hero__calc-counter .counter {
  width: 240px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid #494949;
  overflow: hidden;
}
.hero__calc-counter .counter button {
  width: 65px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  background: rgba(17, 13, 14, 0.5);
  font-family: "Inter", sans-serif;
  border: none;
}
.hero__calc-counter .counter span {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
}
.hero__calc-gift {
  border-radius: 10px 10px 0 0;
  background: rgba(17, 13, 14, 0.5);
  padding: 13px 31px 24px 35px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.hero__calc-price {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.hero__calc-price .label {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
}
.hero__calc-price .summ {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
}
.hero__calc-price .summ .valuta {
  font-size: 30px;
}
.hero__calc-prize .prize {
  display: flex;
  align-items: flex-end;
  gap: 17px;
  margin-bottom: 8px;
}
.hero__calc-prize .prize .label {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  max-width: 155px;
}
.hero__calc-prize .text {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
}
.hero__calc-form {
  display: flex;
  margin-bottom: 14px;
}
.hero__calc-form .input {
  border-radius: 0px 0px 0px 10px;
  border-left: 1px solid #E1E7EF;
  border-bottom: 1px solid #E1E7EF;
  width: 258px;
  background: #FFF;
  height: 67px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  padding-left: 22px;
  box-sizing: border-box;
  line-height: 66px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #110D0E;
  border-top: none;
  border-right: none;
}
.hero__calc-form .input::-moz-placeholder {
  color: #AFAFAF;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 66px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.hero__calc-form .input::placeholder {
  color: #AFAFAF;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 66px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.hero__calc-form .button {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 67px;
  border: none;
  padding: 0;
  background: #D74535;
  color: #fff;
  border-radius: 0px 0px 10px 0px;
  width: 100%;
}
.hero__calc-policy {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 208.333% */
  color: #fff;
}

@media (max-width: 1230px) {
  .hero__tagline {
    font-size: 30px;
  }
}
@media (max-width: 1022px) {
  .hero {
    padding: 66px 0 110px 0;
  }
  .hero__tagline {
    font-size: 22px;
    font-weight: 300;
  }
  .hero__description {
    font-size: 18px;
  }
  .hero__logo {
    max-width: 273px;
    margin-bottom: 40px;
  }
  .hero__logo-filter {
    width: 520px;
    height: 165px;
    border-radius: 520px;
    background: #110D0E;
  }
  .hero__calc {
    width: 455px;
    border-radius: 16px;
    padding: 34px 30px 20px 30px;
  }
  .hero__calc-title {
    font-size: 22px;
    margin-bottom: 7px;
  }
  .hero__calc-label {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .hero__calc-input {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    font-size: 14px;
  }
  .hero__calc-slider {
    margin-bottom: 9px;
  }
  .hero__calc-liner {
    font-size: 14px;
    margin-bottom: 18px;
  }
  .hero__calc-counter {
    margin-bottom: 10px;
  }
  .hero__calc-counter .label {
    font-size: 14px;
    color: #110D0E;
    gap: 11px;
  }
  .hero__calc-counter .label img {
    width: 17px;
    height: 17px;
  }
  .hero__calc-counter .counter {
    width: 203px;
    height: 50px;
  }
  .hero__calc-counter .counter button {
    width: 55px;
  }
  .hero__calc-gift {
    padding: 14px 30px 25px;
    border-radius: 6.378px 6.378px 0 0;
  }
  .hero__calc-price {
    gap: 5px;
  }
  .hero__calc-price .label {
    font-size: 12px;
  }
  .hero__calc-price .summ {
    font-size: 25px;
  }
  .hero__calc-price .summ .valuta {
    font-size: 20px;
  }
  .hero__calc-prize .prize {
    gap: 11px;
  }
  .hero__calc-prize .prize img {
    width: 33px;
    height: 40px;
  }
  .hero__calc-prize .prize .label {
    font-size: 14px;
  }
  .hero__calc-prize .text {
    font-size: 12px;
  }
  .hero__calc-form {
    margin-bottom: 12px;
  }
  .hero__calc-form .input {
    width: 190px;
    height: 55px;
    line-height: 54px;
    padding-left: 16px;
    font-size: 14px;
    border-radius: 0px 0px 0px 6.378px;
  }
  .hero__calc-form .input::-moz-placeholder {
    font-size: 14px;
  }
  .hero__calc-form .input::placeholder {
    font-size: 14px;
  }
  .hero__calc-form .button {
    height: 55px;
    border-radius: 0px 0px 6.378px 0;
    font-size: 12px;
  }
  .hero__calc-policy {
    font-size: 12px;
    line-height: 15.944px; /* 132.871% */
    text-align: center;
  }
}
@media (max-width: 798px) {
  .hero {
    padding: 50px 0 50px 0;
  }
  .hero__wrapper {
    flex-direction: column;
  }
  .hero__wrapper-left {
    padding-top: 0;
  }
  .hero__logo {
    max-width: 234px;
    margin-bottom: 33px;
  }
  .hero__description {
    margin-bottom: 40px;
  }
  .hero__calc {
    margin: 0 auto;
  }
}
@media (max-width: 606px) {
  .hero {
    padding: 50px 0 13px 0;
  }
  .hero__background, .hero__filter {
    height: 45%;
  }
  .hero__tagline {
    margin-bottom: 25px;
  }
  .hero__calc {
    width: 100%;
    max-width: 455px;
  }
}
@media (max-width: 475px) {
  .hero__background, .hero__filter {
    height: 50%;
  }
  .hero__calc {
    padding: 25px 20px;
    border-radius: 16px;
  }
  .hero__calc-title {
    margin-bottom: 19px;
  }
  .hero__calc-label {
    color: #110D0E;
  }
  .hero__calc-linear {
    font-size: 12px;
  }
  .hero__calc-counter {
    gap: 15px;
    margin-bottom: 16px;
  }
  .hero__calc-counter .counter {
    height: 36px;
    width: 148px;
    border-radius: 6.218px;
  }
  .hero__calc-counter .counter button {
    height: 36px;
    width: 40px;
    font-size: 12px;
  }
  .hero__calc-counter .counter span {
    font-size: 12px;
  }
  .hero__calc-gift {
    padding: 9px 12px 12px 12px;
    align-items: flex-start;
    gap: 10px;
  }
  .hero__calc-prize .text {
    max-width: 114px;
  }
  .hero__calc-form {
    flex-direction: column;
  }
  .hero__calc-form .input {
    border-radius: 0;
    width: 100%;
  }
  .hero__calc-form .button {
    border-radius: 0px 0px 7px 7px;
  }
}
@media (max-width: 375px) {
  .hero__calc-counter .counter button {
    width: 35px;
  }
}
.advantages {
  padding: 0 0 42px 0;
}
.advantages__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.advantages__card {
  position: relative;
  border-radius: 0 0 25px 25px;
  background: #EAEAEA;
  padding: 45px;
  box-sizing: border-box;
  transition: 0.3s all;
  display: flex;
  flex-direction: column;
}
.advantages__card-icon {
  position: absolute;
  top: -85px;
  left: 0;
  padding: 45px 0 0 45px;
  border-radius: 25px 25px 0 0;
  background: #EAEAEA;
  width: 100%;
  box-sizing: border-box;
  transition: 0.3s all;
}
.advantages__card-icon svg {
  transition: 0.3s all;
}
.advantages__card-icon svg path {
  transition: 0.3s all;
}
.advantages__card-title {
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 24px;
  transition: 0.3s all;
}
.advantages__card-description {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  transition: 0.3s all;
  margin-top: auto;
}
.advantages__card:hover {
  background: #D74535;
  box-shadow: -14px 26px 49px 0px rgba(164, 34, 19, 0.53);
}
.advantages__card:hover .advantages__card-icon {
  background: #D74535;
}
.advantages__card:hover .advantages__card-icon svg path {
  fill: #fff;
}
.advantages__card:hover .advantages__card-title {
  color: #fff;
}
.advantages__card:hover .advantages__card-description {
  color: #fff;
}
.advantages__slider {
  display: none;
  max-width: 455px;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 18px 27px 24px 21px;
  border-radius: 16.324px;
  background: #D74535;
}
.advantages__slide-icon {
  margin-bottom: 34px;
}
.advantages__slide-title {
  font-size: 16.324px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  margin-bottom: 11px;
}
.advantages__slide-description {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #fff;
  margin-bottom: 25px;
}
.advantages__buttons {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.advantages__buttons .btns {
  display: flex;
  gap: 15px;
}
.advantages__button {
  width: 41px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 1px solid #fff;
  background: transparent;
  border-radius: 50%;
}
.advantages #advantages__pagination {
  width: -moz-max-content;
  width: max-content;
  left: 0;
  top: 100%;
  position: static;
  display: flex;
  align-items: center;
  gap: 9px;
}
.advantages #advantages__pagination .swiper-pagination-bullet {
  width: 3.06px;
  height: 3.06px;
  background: #AFAFAF;
}
.advantages #advantages__pagination .swiper-pagination-bullet-active {
  width: 6.119px;
  height: 6.119px;
  background: #FFF;
}

@media (max-width: 1230px) {
  .advantages__card-title {
    font-size: 16.324px;
    margin-bottom: 10px;
  }
  .advantages__card-description {
    font-size: 14px;
  }
}
@media (max-width: 1022px) {
  .advantages__card {
    padding: 34px 25px 20px 25px;
  }
  .advantages__card-icon {
    top: -60px;
    padding: 35px 0 0 25px;
  }
  .advantages__card-icon svg {
    width: 33px;
    max-height: 34px;
  }
  .advantages__card-title {
    font-size: 16.324px;
    margin-bottom: 10px;
  }
  .advantages__card-description {
    font-size: 14px;
  }
}
@media (max-width: 798px) {
  .advantages {
    padding: 26px 0 22px 0;
  }
  .advantages__card {
    border-radius: 16.324px;
  }
  .advantages__card-icon {
    background: transparent;
    width: -moz-max-content;
    width: max-content;
    border-radius: 0;
    position: static;
    padding: 0;
  }
  .advantages__card:hover .advantages__card-icon {
    background: transparent;
  }
  .advantages__grid {
    display: none;
  }
  .advantages__slider {
    display: block;
  }
}
@media (max-width: 606px) {
  .advantages {
    padding: 13px 0 22px 0;
  }
}
.examples {
  padding: 42px 0 150px 0;
  overflow-x: hidden;
  position: relative;
}
.examples__top-title {
  display: none;
}
.examples__slide {
  position: relative;
  height: 800px;
}
.examples__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.examples__slide-blur {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFF 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 494px;
}
.examples__container {
  position: absolute;
  bottom: 50px;
  width: 100%;
  left: 0;
  display: grid;
  grid-template-columns: minmax(15px, 1fr) minmax(200px, 1347px) minmax(15px, 1fr);
  z-index: 10;
}
.examples__control {
  grid-column: 2/span 1;
  display: flex;
  align-items: center;
  margin-bottom: 44px;
}
.examples__title {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-right: 49px;
}
.examples__buttons {
  display: flex;
  gap: 24px;
  margin-right: 32px;
}
.examples__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 67px;
  height: 67px;
  border-radius: 50%;
  padding: 0;
  background: transparent;
  border: 1px solid #AFAFAF;
}
.examples #examples__pagintation {
  width: -moz-max-content;
  width: max-content;
  left: 0;
  top: 100%;
  position: static;
  display: flex;
  align-items: center;
  gap: 15px;
}
.examples #examples__pagintation span {
  margin: 0;
}
.examples #examples__pagintation .swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  background: #AFAFAF;
}
.examples #examples__pagintation .swiper-pagination-bullet-active {
  width: 10px;
  height: 10px;
  background: #D74535;
}
.examples__thumbnails {
  grid-column: 2/span 2;
  margin-bottom: 50px;
}
.examples__thumbnails-paginations {
  position: static;
  grid-column: 2/span 1;
  display: flex;
}
.examples__thumbs .swiper-slide {
  width: -moz-max-content !important;
  width: max-content !important;
}
.examples__thumb {
  width: 200px;
  height: 136px;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
}
.examples__thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.examples__thumb-blur {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(215, 69, 53, 0.7) 0%, rgba(215, 69, 53, 0.7) 100%);
}
.examples .swiper-slide-thumb-active .examples__thumb-blur {
  opacity: 1;
}
.examples__progress {
  display: flex;
  height: 2px;
  background: #AFAFAF;
  position: relative;
  grid-column: 2/span 1;
}
.examples__progress .progressbar {
  transition: 0.3s all;
  position: absolute;
  height: 8px;
  top: 50%;
  left: 0;
  width: 14.3%;
  transform: translate(0, -50%);
  border-radius: 45px;
  background: #D74535;
}

@media (max-width: 1230px) {
  .examples__slide {
    height: 482px;
  }
  .examples__slide-blur {
    height: 296px;
  }
  .examples__title {
    font-size: 20px;
    margin-right: 45px;
  }
  .examples__buttons {
    gap: 15px;
    margin-right: 20px;
  }
  .examples__button {
    height: 41px;
    width: 41px;
  }
  .examples__button svg {
    width: 12px;
  }
  .examples #examples__pagintation {
    gap: 10px;
  }
  .examples__control {
    margin-bottom: 40px;
  }
  .examples__thumb {
    width: 125px;
    height: 85px;
    border-radius: 9.368px;
  }
  .examples__thumbnails {
    margin-bottom: 30px;
  }
  .examples__progress {
    height: 1px;
  }
  .examples__progress .progressbar {
    height: 5px;
  }
}
@media (max-width: 606px) {
  .examples {
    padding: 21px 0 27px 0;
    margin-bottom: 29px;
    border-bottom: 1px solid #AFAFAF;
  }
  .examples__slider {
    margin-bottom: 15px;
  }
  .examples__slide {
    height: 295px;
  }
  .examples__slide-blur {
    display: none;
  }
  .examples__thumbnails {
    display: none;
  }
  .examples__progress {
    display: none;
  }
  .examples__title {
    display: none;
  }
  .examples__container {
    position: static;
  }
  .examples__control {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 0;
  }
  .examples__top-title {
    margin-bottom: 17px;
    display: block;
  }
  .examples__top-title .title {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
.dignity {
  padding: 50px 0 50px 0;
}
.dignity__title {
  display: flex;
  align-items: center;
  gap: 37px;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 50px;
}
.dignity__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3px;
}
.dignity__card {
  background: #EAEAEA;
  padding: 30px 20px 25px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  transition: 0.3s all;
  height: 270px;
}
.dignity__card-icon {
  margin-bottom: 40px;
  transition: 0.3s all;
}
.dignity__card-icon svg {
  transition: 0.3s all;
}
.dignity__card-icon svg path {
  transition: 0.3s all;
}
.dignity__card-icon img {
  transition: 0.3s all;
}
.dignity__card-subtitle {
  color: #AFAFAF;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 23px;
  transition: 0.3s all;
}
.dignity__card-description {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: auto;
  transition: 0.3s all;
}
.dignity__card:hover {
  background: #D74535;
  border-radius: 25px;
  transform: scale(1.08);
  box-shadow: -14px 26px 49px 0px rgba(164, 34, 19, 0.53);
}
.dignity__card:hover .dignity__card-icon svg path {
  fill: #fff;
}
.dignity__card:hover .dignity__card-icon img {
  filter: brightness(10);
}
.dignity__card:hover .dignity__card-description {
  color: #fff;
}
.dignity__card.small {
  grid-column: span 1;
}
.dignity__card.big {
  grid-column: span 2;
}
.dignity__card.rounded-top-left {
  border-radius: 25px 0px 0px 0px;
}
.dignity__card.rounded-top-left:hover {
  border-radius: 25px;
}
.dignity__card.rounded-top-right {
  border-radius: 0px 25px 0px 0px;
}
.dignity__card.rounded-top-right:hover {
  border-radius: 25px;
}
.dignity__card.rounded-bottom-left {
  border-radius: 0px 0px 0px 25px;
}
.dignity__card.rounded-bottom-left:hover {
  border-radius: 25px;
}
.dignity__card.rounded-bottom-right {
  border-radius: 0px 0px 25px 0px;
}
.dignity__card.rounded-bottom-right:hover {
  border-radius: 25px;
}
.dignity__slider {
  display: none;
}
.dignity__buttons {
  display: none;
}

@media (max-width: 1230px) {
  .dignity {
    padding: 25px 0 35px 0;
  }
  .dignity__title {
    gap: 24px;
    font-size: 20px;
    margin-bottom: 30px;
  }
  .dignity__title svg {
    width: 32px;
    height: 32px;
    display: flex;
    flex-shrink: 0;
  }
  .dignity__card {
    padding: 20px 15px 15px 15px;
    height: 175px;
  }
  .dignity__card-icon {
    margin-bottom: 18px;
  }
  .dignity__card-subtitle {
    margin-bottom: 14px;
    font-size: 10px;
  }
  .dignity__card-description {
    font-size: 12px;
  }
  .dignity__img_1 {
    width: 42px;
    height: 42px;
  }
  .dignity__img_2 {
    width: 37px;
    height: 37px;
  }
  .dignity__img_3 {
    width: 38px;
    height: 38px;
  }
  .dignity__img_4 {
    width: 50px;
    height: 50px;
  }
  .dignity__img_5 {
    width: 40px;
    height: 40px;
  }
  .dignity__img_6 {
    width: 46px;
    height: 46px;
  }
  .dignity__img_7 {
    width: 40px;
    height: 40px;
  }
  .dignity__img_8 {
    width: 39px;
    height: 39px;
  }
  .dignity__img_9 {
    width: 42px;
    height: 25px;
  }
}
@media (max-width: 798px) {
  .dignity {
    padding: 15px 0 38px 0;
    border-bottom: 1px solid #AFAFAF;
    margin-bottom: 15px;
  }
  .dignity__grid {
    display: none;
  }
  .dignity__slider {
    display: block;
    margin-bottom: 15px;
  }
  .dignity__card {
    border-radius: 16px;
  }
  .dignity__card:hover {
    background: #EAEAEA;
    box-shadow: none;
    transform: none;
    border-radius: 16px;
  }
  .dignity__card:hover .dignity__card-icon svg path {
    fill: #D74535;
  }
  .dignity__card:hover .dignity__card-icon img {
    filter: none;
  }
  .dignity__card:hover .dignity__card-description {
    color: #110D0E;
  }
  .dignity__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }
  .dignity__buttons .buttons {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .dignity__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    padding: 0;
    background: transparent;
    border: 1px solid #AFAFAF;
  }
  .dignity #dignity__pagination {
    width: -moz-max-content;
    width: max-content;
    left: 0;
    top: 100%;
    position: static;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .dignity #dignity__pagination span {
    margin: 0;
  }
  .dignity #dignity__pagination .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    background: #AFAFAF;
  }
  .dignity #dignity__pagination .swiper-pagination-bullet-active {
    width: 10px;
    height: 10px;
    background: #D74535;
  }
}
.services__title {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 88px;
  margin-bottom: 50px;
  white-space: nowrap;
}
.services__title::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #AFAFAF;
}
.services__tabs {
  width: 50%;
}
.services__tabs-link {
  display: inline-flex;
  padding: 45px 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  grid-column: 2/span 1;
  position: relative;
  padding-right: 20px;
}
.services__tabs-link::after {
  position: absolute;
  content: "";
  display: block;
  height: 1px;
  width: calc(100% - 20px);
  background: #AFAFAF;
  top: 100%;
  left: 0;
}
.services__tabs-item {
  display: grid;
  grid-template-columns: minmax(15px, 1fr) minmax(200px, 673.5px);
}
.services__tabs-item:last-of-type .services__tabs-link::after {
  display: none;
}
.services__tabs-item.active {
  background: #D74535;
}
.services__tabs-item.active .services__tabs-link {
  color: #fff;
}
.services__tabs-item.active .services__tabs-link::after {
  display: none;
}
.services__container {
  display: flex;
}
.services__image {
  max-width: 673.5px;
  width: 100%;
  overflow: hidden;
  display: none;
  padding-right: 15px;
}
.services__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0px 25px 25px 0px;
}
.services__image.active {
  display: flex;
}

@media (max-width: 1230px) {
  .services__image {
    max-width: 50%;
    height: 379px;
  }
  .services__title {
    margin-bottom: 30px;
    gap: 50px;
    font-size: 20px;
  }
  .services__tabs-link {
    font-size: 13.091px;
    padding: 29px 0;
  }
  .services__tabs-link::after {
    width: calc(100% - 12.45px);
  }
  .services__container {
    gap: 7px;
  }
}/*# sourceMappingURL=style.css.map */