.credit {
    padding: 40px 0;
    overflow-x: hidden;
    position: relative;
    &__top {
        background: #EAEAEA;
        padding: 55px 0 70px;
        &-wrapper {
            position: relative;
        }
    }
    &__title {
        font-size: 35px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        max-width: 786px;
        span {
            color: #D04636;
        }
    }
    &__subtitle {
        position: absolute;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        max-width: 455px;
        width: 100%;
        left: 277px;
        top: 53px;
    }
    &__bottom {
        background: #D74535;
        &-wrapper {
            position: relative;
            display: flex;
            gap: 44px;
            padding: 50px 0;
        }
    }
    &__block {
        &-title {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            color: $WHITE_COLOR;
            max-width: 380px;
            margin-bottom: 26px;
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 15px;
        &-text {
            display: flex;
            align-items: center;
            gap: 23px;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
            color: $WHITE_COLOR;
        }
    }
    &__image {
        position: absolute;
        right: 0;
        bottom: 0;
        max-width: 515px;
    }
}
@media (max-width: 1140px) {
    .credit {
        padding: 55px 0 26px 0;
        &__top {
            padding: 34px 0 40px 0;
        }
        &__title {
            font-size: 22.309px;
            max-width: 500px;
        }
        &__subtitle {
            font-size: 13px;
            max-width: 323px;
            left: 172px;
            top: 34px;
        }
        &__bottom {
            &-wrapper {
                gap: 28px;
                padding: 34px 0 32px 0;
            }
        }
        &__icon {
            svg {
                width: 112px;
                height: 95px;
            }
        }
        &__block {
            &-title {
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: 12.748px;
                max-width: 353px;
                margin-bottom: 16px;
                position: relative;
                z-index: 1;
            }
        }
        &__list {
            gap: 10px;
            &-text {
                gap: 15px;
                font-size: 13px;
                font-style: normal;
                font-weight: 700;
                line-height: 12.748px;
            }
        }
        &__image {
            max-width: 350px;
        }
    }
}
@media (max-width: 798px) {
    .credit {
        padding: 18px 0 22px 0;
        &__top {
            padding: 35px 0 27px 0;
            &-wrapper {
                display: flex;
                flex-direction: column;
                gap: 7px;
            }
        }
        &__title {
            max-width: 100%;
        }
        &__subtitle {
            position: static;
            max-width: 100%;
        }
        &__bottom {
            &-wrapper {
                padding: 34px 0  18px 0;
                flex-direction: column-reverse;
            }
        }
        &__block {
            &-title {
                max-width: 247px;
                margin-bottom: 15px;
            }
        }
        &__list {
            gap: 15px;
            &-text {
                max-width: 154px;
                align-items: flex-start;
                svg {
                    padding-top: 2px;
                    display: flex;
                    flex-shrink: 0;
                }
            }
        }
    }
}
@media (max-width: 606px) {
    .credit {
        &__image {
            max-width: 190px;
            right: -15px;
        }
        &__list {
            position: relative;
            z-index: 1;
        }
    }
}