.sale {
    padding: 43px 0 0px 0;
    margin-bottom: 33px;
    &__wrapper {
        display: flex;
        padding-bottom: 75px;
        border-bottom: 1px solid #AFAFAF;
    }
    &__info {
        width: 100%;
        padding: 133px 0 135px 118px;
        border-radius: 25px 0px 0px 25px;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.20) 100%), url("../img/sections/sale-section/bg.jpg") center/cover no-repeat, lightgray 50% / cover no-repeat;
    }
    &__title {
        font-size: 65px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 20px;
    }
    &__subtitle {
        font-size: 35px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 50px;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 60px;
        width: max-content;
    }
    &__card {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: max-content;
        &-text {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            margin-top: auto;
        }
    }
    &__calc {
        border-radius: 0px 25px 25px 0px;
        background: #D74535;
        backdrop-filter: blur(50px);
        padding: 40px 55px 28px 55px;
        width: 580px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        &-title {
            font-size: 35px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
            margin-bottom: 12px;
            color: $WHITE_COLOR;
        }
        &-label {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 15px;
            color: $WHITE_COLOR;
        }
        &-input {
            border-radius: 10px 10px 0px 0px;
            border: 1px solid #E1E7EF;
            // opacity: 0.5;
            background: rgba(255, 255, 255, 0.5);
            font-family: 'Inter', sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            height: 78px;
            width: 100%;
            box-sizing: border-box;
            padding: 0 27px;
            line-height: 78px;
        }
        &-slider {
            border: none;
            box-shadow: none;
            height: 5px;
            margin-bottom: 14px;
            .noUi-handle {
                width: 23px;
                height: 23px;
                border: 7px solid $BASE_COLOR;
                border-radius: 50%;
                background: #fff;
                top: -10px;
                &::after, &::before {
                    display: none;
                }
            }
            .noUi-connect {
                background: $BASE_COLOR;
            }
        }
        &-linear {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 25px;
            span {
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                color: #fff;
            }
        }
        &-counter {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 22px;
            .label {
                display: flex;
                align-items: center;
                gap: 17px;
                color: $WHITE_COLOR;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            .counter {
                width: 240px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-radius: 10px;
                border: 1px solid #494949;
                overflow: hidden;
                button {
                    width: 65px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    color: #fff;
                    background: rgba(17, 13, 14, .5);
                    font-family: 'Inter', sans-serif;
                    border: none;
                }
                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: transparent;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    color: #fff;
                }
            }
        }
        &-gift {
            border-radius: 10px 10px 0 0;
            background: rgba(17, 13, 14, .5);
            padding: 13px 31px 24px 35px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
        &-price {
            display: flex;
            flex-direction: column;
            gap: 2px;
            .label {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                color: $WHITE_COLOR;
            }
            .summ {
                font-size: 40px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                color: $WHITE_COLOR;
                .valuta {
                    font-size: 30px;
                }
            }
        }
        &-prize {
            .prize {
                display: flex;
                align-items: flex-end;
                gap: 17px;
                margin-bottom: 8px;
                .label {
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    color: $WHITE_COLOR;
                    max-width: 155px;
                }
            }
            .text {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                color: $WHITE_COLOR;
            }
        }
        &-form {
            display: flex;
            margin-bottom: 14px;
            .input {
                border-radius: 0px 0px 0px 10px;
                border-left: 1px solid #E1E7EF;
                border-bottom: 1px solid #E1E7EF;
                width: 258px;
                background: #FFF;
                height: 67px;
                font-family: 'Inter', sans-serif;
                font-size: 16px;
                padding-left: 22px;
                box-sizing: border-box;
                line-height: 66px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                color: $BASE_COLOR;
                border-top: none;
                border-right: none;
                &::placeholder {
                    color: #AFAFAF;
                    font-family: 'Inter', sans-serif;
                    font-size: 16px;
                    line-height: 66px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
            }
            .button {
                font-family: 'Inter', sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 67px;
                border: none;
                padding: 0;
                background: $BASE_COLOR;
                color: $WHITE_COLOR;
                border-radius: 0px 0px 10px 0px;
                width: 100%;
            }
        }
        &-policy {
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px; /* 208.333% */
            color: $WHITE_COLOR;
            text-align: center;
        }
    }
}
@media (max-width: 1230px) {
    .sale {
        padding: 30px 0 42px 0;
        &__info {
            padding: 89px 15px 121px 80px;
            border-radius: 16px 0px 0px 16px;
        }
        &__wrapper {
            padding-bottom: 0;
            border-bottom: none;
        }
        &__title {
            font-size: 42.433px;
            margin-bottom: 14px;
        }
        &__subtitle {
            font-size: 22.849px;
            margin-bottom: 30px;
        }
        &__card {
            gap: 8px;
            &-text {
                font-size: 13px;
            }
        }
        &__calc {
            width: 455px;
            border-radius: 0px 16px 16px 0px;
            padding: 34px 30px 20px 30px;
            &-title {
                font-size: 22px;
                margin-bottom: 7px;
            }
            &-label {
                font-size: 14px;
                margin-bottom: 10px;
            }
            &-input {
                height: 50px;
                line-height: 50px;
                padding: 0 20px;
                font-size: 14px;
            }
            &-slider {
                margin-bottom: 9px;
            }
            &-liner {
                font-size: 14px;
                margin-bottom: 18px;
            }
            &-counter {
                margin-bottom: 10px;
                .label {
                    img {
                        width: 17px;
                        height: 17px;
                    }
                    font-size: 14px;
                    color: $BASE_COLOR;
                    gap: 11px;
                }
                .counter {
                    width: 203px;
                    height: 50px;
                    button {
                        width: 55px;
                    }
                }
            }
            &-gift {
                padding: 14px 30px 25px;
                border-radius: 6.378px 6.378px 0 0;
            }
            &-price {
                gap: 5px;
                .label {
                    font-size: 12px;
                }
                .summ {
                    font-size: 25px;
                    .valuta {
                        font-size: 20px;
                    }
                }
            }
            &-prize {
                .prize {
                    gap: 11px;
                    img {
                        width: 33px;
                        height: 40px;
                    }
                    .label {
                        font-size: 14px;
                    }
                }
                .text {
                    font-size: 12px;
                }
            }
            &-form {
                margin-bottom: 12px;
                .input {
                    width: 190px;
                    height: 55px;
                    line-height: 54px;
                    padding-left: 16px;
                    font-size: 14px;
                    border-radius: 0px 0px 0px 6.378px;
                    &::placeholder {
                        font-size: 14px;
                    }
                }
                .button {
                    height: 55px;
                    border-radius: 0px 0px 6.378px 0;
                    font-size: 12px;
                }
            }
            &-policy {
                font-size: 12px;
                line-height: 15.944px; /* 132.871% */
                text-align: center;
            }
        }
    }
}
@media (max-width: 1022px) {
    .sale {
        &__info {
            padding: 89px 15px 121px 30px;
        }
        &__grid {
            gap: 27px;
        }
    }
}
@media (max-width: 890px) {
    .sale {
        &__wrapper {
            flex-direction: column;
            margin-left: -15px;
            margin-right: -15px;
        }
        &__info {
            box-sizing: border-box;
            padding: 50px 15px 67px 15px;
            border-radius: 0;
        }
        &__calc {
            border-radius: 0;
            margin: 0 auto;
            width: 100%;
            max-width: 455px;
        }
    }
}
@media (max-width: 606px) {
    .sale {
        padding: 19px 0 26px 0;
    }
}
@media (max-width: 475px) {
    .sale {
        &__calc {
            padding: 25px 20px;
            border-radius: 0;
            box-sizing: border-box;
            &-title {
                margin-bottom: 19px;
            }
            &-label {
                color: $BASE_COLOR;
            }
            &-linear {
                font-size: 12px;
            }
            &-counter {
                gap: 15px;
                margin-bottom: 16px;
                .counter {
                    height: 36px;
                    width: 148px;
                    border-radius: 6.218px;
                    button {
                        height: 36px;
                        width: 40px;
                        font-size: 12px;
                    }
                    span {
                        font-size: 12px;
                    }
                }
            }
            &-gift {
                padding: 9px 12px 12px 12px;
                align-items: flex-start;
                gap: 10px;
            }
            &-prize {
                .text {
                    max-width: 114px;
                }
                .prize {
                    .label {
                        width: 115px;
                    }
                }
            }
            &-form {
                flex-direction: column;
                .input {
                    border-radius: 0;
                    width: 100%;
                }
                .button {
                    border-radius: 0px 0px 7px 7px;
                }
            }
        }
    }
}
@media (max-width: 400px) {
    .sale {
        &__grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}